.load-more {
  background-color: var(--submit-text-color);
  padding: 15px 30px;
  margin: 30px auto;
  display: block;
  font-weight: bold;
  color: var(--button-text-color);
  transition: background-color ease 1s;
}

.load-more:hover {
  background-color: var(--submit-bg-color);
}