form.search-form,
.search-form label,
.search-form input[type="text"],
.search-form button,
.search-form input[type="submit"] {
  display: block;
  margin: 15px auto;
}

form.search-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 75px auto;
  text-align: center;
}

.search-form label {
  width: 100%;
  font-size: 1.15em;
  text-align: center;
}

.search-form input[type="text"],
.search-form button,
.search-form input[type="submit"] {
  width: 95%;
}

.search-form input[type="submit"],
.search-form button {
  padding: 10px;
  text-align: center;
  color: var(--button-text-color);
  transition: background-color ease 1s;
  font-weight: 500;
}

.search-form input[type="submit"] {
  background-color: var(--submit-text-color);
}

.search-form input[type="submit"]:hover {
  background-color: var(--submit-bg-color);
}

.search-form button {
  background-color: var(--button-bg-color);
}

.search-form button:hover {
  background-color: var(--button-hover-bg-color);
}

.buttons button:last-of-type {
  margin-left: auto;
}

.search-form input[type="text"] {
  margin-bottom: 2em;
  padding: 10px 5px;
  font-size: 1.25em;
  text-align: center;
  border: 1px solid var(--border-color-dark);
  border-radius: 25px;
  transition: transform ease 1s;
}

.search-form input[type="text"]:focus {
  transform: scale(1.1);
}

.input-error {
  position: absolute;
  width: 90%;
  margin: auto;
  bottom: 7.3em;
  left: 0;
  right: 0;
  font-size: 0.85em;
  color: var(--error-text-color);
}

.search-error {
  padding: 10px;
  color: var(--error-text-color);
  width: 90%;
  text-align: center;
  margin: auto;
}

@media all and (min-width: 500px) {

  .search-form input[type="submit"],
  .search-form button {
    display: inline-block;
    width: 45%;
  }

  .buttons button:last-of-type {
    margin-left: 15px;
  }

  .input-error {
    bottom: 5.5em;
  }
}